/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Facebook's signature blue-gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"], button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  input[type="text"]:focus, button:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    background-color: #4267b2; /* Facebook's signature blue button color */
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #365899;
  }
  
  a {
    text-decoration: none;
    color: #4267b2;
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline;
  }
